body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-white {
  color: #F9FAFB;
}

.text-gray {
  color: #111827;
}

.bg-white {
  background-color: #F9FAFB;
}

.bg-gray {
  background-color: #111827;
}

.link {
  color: #6366F1;
}
